div.centred
  h1 Omar Khan
  h2.subtitle Software Developer
  nav
    ul
      li: a(href='/projects.html') projects
      li: a(href='http://omarkhan.me/presentations/') presentations
      li: a(href='https://github.com/omarkhan') github
      li: a(href='http://uk.linkedin.com/pub/omar-khan/28/797/530/') linkedin
